
#gameContainer{
    text-align: center;
}
#gameBoard{
    border: 5px solid;
}
#scoreText{
    font-family: ""Times New Roman", Times, serif", cursive;
    font-size: 80px;
}
#resetBtn{
    font-family: ""Times New Roman", Times, serif", cursive;
    font-size: 22px;
    width: 100px;
    height: 50px;
    border: 4px solid;
    border-radius: 15px;
    cursor: pointer;
}
